@using System.Web.Optimization
@using Microsoft.Web.Mvc
@using Microsoft.Web.Mvc.Html
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/content/css")
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

    @Styles.Render("~/content/css-responsive")
    @RenderSection("head", required: false)
    @Html.Partial("_html5shiv")
    @* favicons and touch icons go here *@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="@Url.Content("~/")">Messaging Demo</a>
                <div class="nav-collapse">
                    <ul class="nav left">
                        <li><a href="@Url.Content("~/accounts")">Accounts</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="@Url.Content("~/program/" + User.Identity.Name)">My Program</a></li>
                        }
                    </ul>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="nav nav-pills">
                            <li class="dropdown">
                                <a class="dropdown-toggle"
										data-toggle="dropdown"
										href="@Url.Content("~/accounts/" + User.Identity.Name)">@User.Identity.Name
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Content("~/login/logout")">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>							
                    }
                    else
                    {
                        <ul class="nav right">
                            <li><a href="~/login">Log In</a></li>
                        </ul>
                    }

                </div>
                <!--/.nav-collapse -->
                <div class="right">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        @Html.Partial("_alerts")
        <div class="row">
            <h1>@ViewBag.Title</h1>
            <div class="span8">@RenderBody()</div>
            <div class="span4" data-section="alerts-panel">
                <h2>System Updates</h2>
                <div class="row">
                    <button data-action="clear-all" type="button" class="close">Clear all</button>
                </div>
                <div data-section="list">
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Company @System.DateTime.Now.ToString("yyyy")</p>
        </footer>
    </div>
    @Scripts.Render("~/js/lib")
    @Scripts.Render("~/js/app")
    @RenderSection("Scripts", required: false)
</body>
</html>

